<!-- Jumbotron-->

<div class="jumbotron">
	<div class="container">
	  <h1 class="display-4">Titulo</h1>
	  <p class="lead">Otro Titulo.</p>
	  <a href="http://en1mes.com" class="btn btn-primary" >En1Mes
	  	<ion-icon name="bicycle"></ion-icon>
	  </a>
		<hr class="my-4">
	</div>
</div>
<!-- Jumbotron-->

<!--Grip -->
<div class="container">
<div class="row">
	<div class="col-md-4">
		<div class="page-header">
			<h2 style="display: inline;">Example page header</h2>
			<h2>Example heading <span class="badge badge-secondary">New</span></h2>
		</div>

		<a href="http://en1mes.com">En 1 mes en otra pagina</a>
		<p class="titulos">
			Siempre se ha dicho “quien tiene un amigo tiene un tesoro”, y es cierto. Los que tenemos la inmensa fortuna de disfrutar de nuestros amigos somos inmensamente ricos, porque la amistad sincera es una de las cosas mas lindas que existen.
		</p>
	</div>
	<div class="col-md-4">
		<div class="page-header">
			<h2>Example page header</h2>
		</div>
		<p>
			Los amigos de verdad lo dan todo de forma desinteresada, sin preguntar, sin exigir. Están ahí siempre que los necesitamos ofreciéndonos un abrazo, enjugando nuestras lagrimas, compartiendo nuestras tristezas, nuestros fracasos y celebrando con nosotros nuestros triunfos y alegrías.
		</p>
	</div>

	<div class="col-md-4">
		<div class="page-header">
			<h2>Example page header</h2>
		</div>
		<p>En ocasiones puede pasar tiempo sin que hablemos o mantengamos una reunión pero sabemos que ellos están ahí, que la amistad y el cariño perduran.</p>

		<h6>Sub... subtitulo</h6>
		<p>Las reflexiones sobre amistad que ofrecemos en En Buenas Manos son lindas historias que nos mandan un mensaje sobre el desinterés, el cariño, y el gran e inmenso significado de esta hermosa palabra.</p>

		<a href="">
		</a>

		<!--Salto de linea -->
		<hr>
		<br>

		<img src="https://nochesdekukulkan.com/images/iluminacion/kukulkan2.jpg"
		class="img-fluid" alt="Responsive image">

	<!--Lista ordenada -->
		<ol>
			<li> Item 1</li>
			<li> Item 2</li>
			<li> Item 3</li>
		</ol>


	</div>
</div>

</div>

